# folders to ignore
UI/env
IMAGE_BUILDER/env
IMAGE_BUILDER/__pycache__
UI/UI/frontend/__pycache__/
UI/UI/UI/__pycache__/
UI/UI/frontend/migrations/*
UI/static
Manifests/andreas_askholm/
GUI/image.tar

# files to ignore
db.*
UI/.env
clear.sh
GUI/rm-db

# files from ignored folders to include
!UI/UI/frontend/migrations/__init__.py

# subfolders from ignored folders to include

# Some random cache
.ccls-cache

build/

# vscode
.vscode

# Executables
*.exe
*.out
*.app
