{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

<p class="h4">Title:</p> {{ assignment.title }}</br>
<p class="h4">Start time:</p> {{ assignment.start }}
<p class="h4">End time:</p> {{ assignment.end }}</br>

<p class="h4">Assigned students:</p>
{% render_table students  %}

<P class="h4">All submissions:</p>
{% render_table submissions %}

{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}