{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

<p class="h4">Title:</p> {{ assignment.title }}</br>
<p class="h4">Start time:</p> {{ assignment.start }}
<p class="h4">End time:</p> {{ assignment.end }}</br>
<hr><hr>
<p class="h4">Assigned students:</p>
<form action="" method="get" class="form">
    <div class="row">    			
        {% bootstrap_field studfilter.form.username__contains wrapper_class="form-control-sm col-md  p-2" %}
        {% bootstrap_field studfilter.form.email__contains wrapper_class="form-control-sm col-md  p-2" %}
    </div> 
    {% bootstrap_button 'search table' button_class="btn-secondary" %}
</form>
{% render_table students  %}
<hr><hr>
<P class="h4">All submissions:</p>
<form action="" method="get" class="form">
    <div class="row">    			
        {% bootstrap_field subfilter.form.result__contains wrapper_class="form-control-sm col-md  p-2" %}
        {% bootstrap_field subfilter.form.uploadtime__contains wrapper_class="form-control-sm col-md  p-2" %}
    </div> 
    {% bootstrap_button 'search table' button_class="btn-secondary" %}
</form>
{% render_table submissions %}

{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}