{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% load django_bootstrap5 %}
{% load render_table from django_tables2 %}

{% if form %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="pt-3">
        <button class="btn btn-secondary" type="submit">Submit</button>
    </div>
</form>
{% endif %}
<div class="pt-3">
    {% if filter %}
    <form action="" method="get" class="form">
        <div class="row">    			
            {% bootstrap_field filter.form.result__contains wrapper_class="form-control-sm col-md  p-2" %}
            {% bootstrap_field filter.form.uploadtime__contains wrapper_class="form-control-sm col-md  p-2" %}
        </div> 
        {% bootstrap_button 'search table' button_class="btn-secondary" %}
    </form>
    {% endif %}
    {% render_table table %}
</div>



{% endblock %}

{% block footer %}{% endblock %}

{% block scripts %}{% endblock %}