<div class="row">
    <div class="col">
        <form method="post" action="{% url 'viewstudent' %}">
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">View submissions</button>
            <input type="hidden" value={{ record.pk }} name="student-pk"/>
            <input type="hidden" value={{ assignment.pk }} name="assignment-pk"/>
        </form>
    </div>
    <div class="col">
        <button class="btn btn-secondary">Submission logs as zip</button>
    </div>
    <div class="col">
        <button class="btn btn-secondary">Submission data as csv</button>
    </div>
</div>